.about_container {
  display: grid;
  grid-template-areas: 
    'header header header'
    'history history history'
    'values values values';
  h1 {
    margin: 2rem;
    text-align: center;
  }
}
.header {
  grid-area: header;
}
.history {
  grid-area: history;
}
.values {
  grid-area: values;
}

.history {
  display: grid;
  grid-template-columns: 2fr 2fr;
}
.values {
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}  
.box{

  &-1 {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
  }
  &-2 {
    display: flex;
    text-align: center;
  }
}

.item {
  flex: 1;
  padding: 1rem;
}

.box {
  &-1 {
    img {
      width: 100%;
    }
  }
  &-2 {
    img {
      width: 100%;
    }
  }
  &-3 {
    img {
      width: 100%;
    }
  }
  &-4 {
    img {
      width: 100%;
    }
  }
  &-5 {
    h2 {
      font-size: 22px;
    }
    img {
      width: 100%;
    }
  }
  &-6 {
    img {
      width: 100%;
    }
  }
}

.products {
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 1rem;
  justify-content: center;
  img {
    width: 100%;
  }

  .item {
    &-1{
        background-color: $yellow;
        color: #fff;
        h3 {
          padding: 2rem 0;
        }
        p {
          padding: 1rem;
        }
    }
    &-4{
      background-color: #857077;
      color: #fff;
      h3 {
        padding: 2rem 0;
      }
      p {
        padding: 1rem;
      }
    }
    &-5{
      background-color: $pink;
      color: #fff;
      h3 {
        padding: 2rem 0;
      }
      p {
        padding: 1rem;
      }
    }
    &-8{
      background-color: $blue;
      color: #fff;
      h3 {
        padding: 2rem 0;
      }
      p {
        padding: 1rem;
      }
    }
  }
}

.certifications {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  img {
    width: 80%;
  }
  

}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: stretch;
  gap: 2rem;
  color: $dark-gray;
  h3 {
    border-bottom: $yellow 1px dotted;
  }
  p {
    padding-top: 1rem;
  }
  ul > li {
    padding-top: 1rem;
  }
  .box {
    &-4{
      li {
        color: $dark-gray;
      }
    }
  }
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-top: 1.5rem;
  text-align: center;
  .item {
    img {
      width: 100%;
    }
    &-3{
      h2 {
        color: $pink;
      }
      p {
        padding: 2rem;
        background-color: $pink;
        color: #fff;
        height: 100%;
      }
    }
    &-4{
      h2 {
        color: $blue;
      }
      p {
        padding: 1.5rem;
        background-color: $blue;
        color: #fff;
        height: 100%;
      }
    }
  }
}

.value-section {
  display: grid;
  
  border: 1px solid red;
  text-align: center;

  .values {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: center;
  }
}


