@import 'config';
@import 'utilities';
// General Style
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Lato', sans-serif; 
  line-height: 1.6;
  background: #fff;
  color: $dark-gray;
}

a {
  text-decoration: none;
  color: $dark-gray;
}

ul {
  list-style: none;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

nav img {
  width: 20%;
  height: 20%;
}

.container {
  display: grid;
  grid-template-areas: 
    'header header header'
    'content content content'
    'footer footer footer';
  h1 {
    margin: 2rem;
    text-align: center;
  }
}
.header {
  grid-area: header;
  .banner {
    background: url('../img/page-banner.jpeg'), no-repeat, 100% 100%;
    opacity: 0.5;
    background-color: #857077;
    height: 60%;
    color: $yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
}
.content {
  grid-area: content;
}
.footer {
  grid-area: footer;
  margin: 2rem 0rem;
}

#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }
  
  li {
    padding: 1rem .5rem;
  }
  
  a {
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
  }
}

.showcase {
    display: flex;
    justify-content: center;
    margin: 0px;
    width: 100%;
    img {
      width: 100%;
    }
  }

.about {
  h1 {text-align: center;}

  }

.boxset {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}  
#boxset {

  &-1 {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
  }
  &-2 {
    display: flex;
    text-align: center;
  }
}

.item {
  flex: 1;
  padding: 1rem;
}

.box {
  &-1 {
    img {
      width: 100%;
    }
  }
  &-2 {
    img {
      width: 100%;
    }
  }
  &-3 {
    img {
      width: 100%;
    }
  }
  &-4 {
    img {
      width: 100%;
    }
  }
  &-5 {
    h2 {
      font-size: 22px;
    }
    img {
      width: 100%;
    }
  }
  &-6 {
    img {
      width: 100%;
    }
  }
}

.products {
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 1rem;
  justify-content: center;
  img {
    width: 100%;
  }

  .item {
    &-1{
        background-color: $yellow;
        color: #fff;
        h3 {
          padding: 2rem 0;
        }
        p {
          padding: 1rem;
        }
    }
    &-4{
      background-color: #857077;
      color: #fff;
      h3 {
        padding: 2rem 0;
      }
      p {
        padding: 1rem;
      }
    }
    &-5{
      background-color: $pink;
      color: #fff;
      h3 {
        padding: 2rem 0;
      }
      p {
        padding: 1rem;
      }
    }
    &-8{
      background-color: $blue;
      color: #fff;
      h3 {
        padding: 2rem 0;
      }
      p {
        padding: 1rem;
      }
    }
  }
}

.certifications {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  img {
    width: 80%;
  }
  

}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: stretch;
  gap: 2rem;
  color: $dark-gray;
  
  h3 {
    border-bottom: $yellow 1px dotted;
  }
  p {
    font-size: small;
    padding-top: 1rem;
  }
  ul > li {
    padding-top: .3rem;
    font-size: small;
    line-height: 1.5rem;
  }
  .box {
    &-4{
      li {
        color: $dark-gray;
      }
    }
  }
}

.history {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-top: 1.5rem;
  text-align: center;
  .item {
    img {
      width: 100%;
    }
    &-1{
      background-color: $yellow;
    }
    &-2{
      background-color: $yellow;
    }
    &-3{
      background-color: $pink;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 3rem;
      h2 {
        color: #fff;
      }
      p {
        padding: 2rem;
        // background-color: $pink;
        color: #fff;
      }
    }
    &-4{
      background-color: $blue;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 3rem;
      h2 {
        color: #fff;
      }
      p {
        padding: 1.5rem;
        background-color: $blue;
        color: #fff;
      }
    }
  }
}

.value {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  
  text-align: center;
  img {
    width: 40%;
  }
  }

.experience {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  align-items: center;
  justify-content: start;

  .img-exp{
    img {
      width: 80%;
    }
  }
}
.text-exp-box{
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .highlight {
    font-size: 48px;
    font-weight: bold;
    color: $pink;
  }
}
.box-1 {
  flex-basis: 50%;
  font-weight: bold;
  
}
.box-2 {
  flex-basis: 50%;
  font-weight: bold;
}

.message {
  display: flex;
  // column-gap: 0.5rem;
}
.text-msg {
  flex-basis: 70%;
  padding: 1rem;
  h2{
    text-align: center;
  }
}
.img-msg {
  text-align: center;
  flex-basis: auto;
  align-self: center;
  // border: 1px solid red;
  img {
    width: 55%;
    border-radius: 75%;
  }
}

