@import 'config';
@import 'utilities';
// General Style
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Lato', sans-serif; 
  line-height: 1.6;
  background: #fff;
  color: $dark-gray;
}

a {
  text-decoration: none;
  color: $dark-gray;
}

ul {
  list-style: none;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

nav img {
  width: 20%;
  height: 20%;
}
.container {
  display: grid;
  grid-template-areas: 
    'header header header'
    'showcase showcase showcase'
    'about about about'
    'services services services'
    'product product product'
    'certification certification certification'
    'footer footer footer';
  h1 {
    margin: 2rem;
    text-align: center;
  }
}
.header {
  grid-area: header;
}
.showcase {
  grid-area: showcase;
}
.about {
  grid-area: about;
}
.services {
  grid-area: services;
  text-align: center;
}
.product {
  grid-area: product;
  text-align: center;
}
.certification {
  grid-area: certification;
}
.footer {
  grid-area: footer;
  margin: 2rem 0rem;
}

#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }
  
  li {
    padding: 1rem .5rem;
  }
  
  a {
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
  }
}

.showcase {
    display: flex;
    justify-content: center;
    margin: 0px;
    width: 100%;
    img {
      width: 100%;
    }
  }

.about {
  h1 {text-align: center;}

  }

.boxset {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}  
#boxset {

  &-1 {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
  }
  &-2 {
    display: flex;
    text-align: center;
  }
}

.item {
  flex: 1;
  padding: 1rem;
}

.box {
  &-1 {
    img {
      width: 100%;
    }
  }
  &-2 {
    img {
      width: 100%;
    }
  }
  &-3 {
    img {
      width: 100%;
    }
  }
  &-4 {
    img {
      width: 100%;
    }
  }
  &-5 {
    h2 {
      font-size: 22px;
    }
    img {
      width: 100%;
    }
  }
  &-6 {
    img {
      width: 100%;
    }
  }
}

.products {
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 1rem;
  justify-content: center;
  img {
    width: 100%;
  }

  .item {
    &-1{
        background-color: $yellow;
        color: #fff;
        h3 {
          padding: 2rem 0;
        }
        p {
          padding: 1rem;
        }
    }
    &-4{
      background-color: #857077;
      color: #fff;
      h3 {
        padding: 2rem 0;
      }
      p {
        padding: 1rem;
      }
    }
    &-5{
      background-color: $pink;
      color: #fff;
      h3 {
        padding: 2rem 0;
      }
      p {
        padding: 1rem;
      }
    }
    &-8{
      background-color: $blue;
      color: #fff;
      h3 {
        padding: 2rem 0;
      }
      p {
        padding: 1rem;
      }
    }
  }
}

.certifications {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  img {
    width: 80%;
  }
  

}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: stretch;
  gap: 2rem;
  color: $dark-gray;
  h3 {
    border-bottom: $yellow 1px dotted;
  }
  p {
    padding-top: 1rem;
  }
  ul > li {
    padding-top: 1rem;
  }
  .box {
    &-4{
      li {
        font-size: 26px;
      }
    }
  }
}

.container-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;

  .item {
    &-1{
      
    }
    &-2{
      
    }
  }
}


