@import 'config';
@import 'utilities';
// General Style
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Lato', sans-serif; 
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: $dark-gray;
}

ul {
  list-style: none;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

nav img {
  width: 20%;
  height: 20%;
}
.container {
  display: grid;
  grid-template-areas: 
    'header header header'
    'showcase showcase showcase'
    'about about about'
    'services services services'
    'product product product'
    'certification certification certification'
    'footer footer footer';
}
.header {
  grid-area: header;
}
.showcase {
  grid-area: showcase;
}
.about {
  grid-area: about;
}
.services {
  grid-area: services;
}
.product {
  grid-area: product;
}
.certification {
  grid-area: certification;
}
.footer {
  grid-area: footer;
}

#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }
  
  li {
    padding: 1rem .5rem;
  }
  
  a {
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
  }
}

.showcase {
    display: flex;
    justify-content: center;
    margin: 0px;
    width: 100%;
    img {
      width: 100%;
    }
  }

  .about {

  }
